<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rental.shinhan.best">

	<!-- 베스트상품조회 -->
	<select id="bestProduct" resultType="BestProductVO">
		SELECT DISTINCT ON (c.category_seq)
			p.product_seq,
			p.product_name,
			p.product_brand,
			p.product_img,
			p.product_detail,
			p.product_serial,
			p.product_pay,
			p.product_date,
			p.product_height,
			p.product_weight,
			p.product_color,
			p.product_features,
			c.category_name,
			c.category_seq,
			COALESCE(wl.wishlist_count, 0) AS wishlist_count
		FROM product p
		LEFT JOIN category c
			ON p.category_seq = c.category_seq
		LEFT JOIN (
				SELECT
					product_seq,
					COUNT(*) AS wishlist_count
				FROM
					wishlist
				GROUP BY
					product_seq
				) wl
			ON p.product_seq = wl.product_seq
		ORDER BY
			c.category_seq,
			wl.wishlist_count DESC NULLS LAST
	</select>

	<!-- 베스트 리뷰 조회 -->
	<select id="bestReview" resultType="BestReviewVO">
		SELECT
			p.product_seq,
			p.product_name,
			p.product_brand,
			p.product_img,
			p.product_serial ,
			r.review_content,
			r.review_rate,
			r.review_date,
			c.cust_name,
			c.cust_id,
			c.cust_seq
		FROM
			product p
		LEFT JOIN subscribe s
			ON p.product_seq = s.product_seq
		LEFT JOIN review r
			ON s.sub_seq = r.sub_seq
		LEFT JOIN customer c
			ON s.cust_seq = c.cust_seq
		WHERE
			r.review_seq IN (
				SELECT review_seq
				FROM review
				WHERE sub_seq = s.sub_seq
				ORDER BY review_rate DESC, review_date DESC
				LIMIT 3
			)
		ORDER BY
			p.product_seq, r.review_rate DESC
	</select>
</mapper>