<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.shinhan.customer">

	<!-- 고객 조회 -->
	<select id="selectCustomer" parameterType="int" resultType="CustomerVO">
		SELECT *
		FROM customer
		WHERE cust_seq=#{cust_seq}
	</select>
	
	<!-- 로그인 기능 -->
	<select id="customerLogin" parameterType="string" resultType="LoginVO" >
		SELECT
			c.*,
			COUNT(DISTINCT crt.cart_seq) AS cart_count,
			COUNT(DISTINCT wl.wish_seq) AS wishlist_count
		FROM
			customer c
		LEFT JOIN cart crt
			ON c.cust_seq = crt.cust_seq
		LEFT JOIN wishlist wl
			ON c.cust_seq = wl.cust_seq
		WHERE
			c.cust_id = #{cust_id}
			AND c.cust_status = TRUE
		GROUP BY
			c.cust_seq, c.cust_id, c.cust_name, c.cust_phone, c.cust_email, c.cust_grade
	</select>

	<!-- 고객 삭제 -->
    <update id="deleteCustomer" parameterType="int">
        UPDATE customer
        SET cust_status = FALSE
        WHERE cust_seq = #{cust_seq}
    </update>

	<!-- 고객 정보 업데이트 -->
	<update id="updateCustInfo" parameterType="CustomerVO">
		UPDATE customer
		SET
			cust_name = #{cust_name},
			cust_email = #{cust_email},
			cust_phone = #{cust_phone}
		WHERE cust_seq = #{cust_seq}
	</update>

	<!-- 고객 등록 -->
	<insert id="insertCustomer" parameterType="CustomerVO">
		INSERT INTO CUSTOMER (
			cust_seq, cust_id, cust_pw, cust_phone, cust_email, cust_name, cust_status
		) VALUES (
			nextval('customer_seq'), #{cust_id},
			#{cust_pw}, #{cust_phone}, #{cust_email},
			#{cust_name}, 'true'
		)
	</insert>

	<!-- 고객 비밀번호 업데이트 -->
	<update id="updateCustPw" parameterType="CustomerVO">
		UPDATE customer
		SET cust_pw = #{cust_pw}
		WHERE cust_seq = #{cust_seq}
	</update>

	<!-- 고객 아이디 유효성 검사 -->
	<select id="checkId" parameterType="String" resultType="Integer">
		SELECT COUNT(*)
		FROM customer
		WHERE cust_id = #{cust_id}
	</select>

	<!-- 위시리스트/장바구니 기능 동작시 갯수 가져오는 쿼리 -->
<select id="getCartAndWishlistCount" parameterType="string" resultType="map">
        SELECT
            COUNT(DISTINCT crt.cart_seq) AS cart_count,
            COUNT(DISTINCT wl.wish_seq) AS wishlist_count
        FROM
            customer c
        LEFT JOIN cart crt
        ON c.cust_seq = crt.cust_seq
        LEFT JOIN wishlist wl
        ON c.cust_seq = wl.cust_seq
        WHERE
            c.cust_id = #{cust_id}
			AND c.cust_status = TRUE
        GROUP BY
            c.cust_seq, c.cust_id, c.cust_name, c.cust_phone, c.cust_email, c.cust_grade
    </select>
</mapper>