<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.shinhan">

<!-- 카테고리 제품 조회 -->
	<select id="productlist" resultType="ProductListVO" parameterType="int">
	SELECT 
    P.product_seq,
    P.product_serial ,
    P.product_name ,
    P.product_img ,
    P.product_detail,
    P.product_pay ,
    P.product_brand ,
    P.product_grade ,
    P.product_date ,
    P.product_height ,
    P.product_weight ,
    P.product_wh,
    P.product_color ,
    P.product_features ,
    C.category_seq ,
    C.category_name 
FROM
    PRODUCT P
LEFT JOIN
    CATEGORY C ON P.category_seq = C.category_seq
where C.category_seq = #{category_seq}
		
		
	</select>

</mapper>