<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rental.shinhan.productlist">



	<!-- 상품리스트 필터 적용 -->

	<select id="selectProductList" parameterType="map" resultType="ProductListVO">
	SELECT
    P.product_seq,
    P.product_serial,
    P.product_name,
    P.product_img,
    P.product_detail,
    P.product_pay,
    P.product_brand,
    P.product_grade,
    P.product_date,
    P.product_height,
    P.product_weight,
    P.product_wh,
    P.product_color,
    P.product_features,
    C.category_name,
    C.category_seq,
    COUNT(cart.product_seq) AS product_popularity,
    COUNT(r.review_rate) AS review_count,
    AVG(r.review_rate) AS review_avg
FROM
    PRODUCT P
LEFT JOIN
    CATEGORY C ON P.category_seq = C.category_seq
LEFT JOIN
    cart ON P.product_seq = cart.product_seq
LEFT JOIN
    subscribe s on P.product_seq = s.product_seq
LEFT JOIN
    review r on r.sub_seq = s.sub_seq
WHERE 1=1
    <if test="category_seq != 0">
    AND P.category_seq = #{category_seq}
</if>
    
    <if test="query != null and query != ''">
    AND   (  (P.product_serial ILIKE '%' || #{query} || '%')
        OR (P.product_name ILIKE '%' || #{query} || '%')
        OR (P.product_brand ILIKE '%' || #{query} || '%')
        OR (P.product_height ILIKE '%' || #{query} || '%')
        OR (P.product_weight ILIKE '%' || #{query} || '%')
        OR (P.product_wh ILIKE '%' || #{query} || '%')
        OR (P.product_color ILIKE '%' || #{query} || '%')
        OR (P.product_features ILIKE '%' || #{query} || '%')
        OR (C.category_name ILIKE '%' || #{query} || '%')
)
</if>

    <!-- 브랜드 필터 -->
    <if test="product_brand != null and product_brand != ''">
        AND P.product_brand = #{product_brand}
    </if>

    <!-- 가격대 필터 -->
    <if test="priceRange != null">
        AND (
            #{priceRange} LIKE '%below10k%' AND P.product_pay &lt; 10000
            OR #{priceRange} LIKE '%10kTo20k%' AND P.product_pay BETWEEN 10001 AND 20000
            OR #{priceRange} LIKE '%20kTo30k%' AND P.product_pay BETWEEN 20001 AND 30000
            OR #{priceRange} LIKE '%30kTo40k%' AND P.product_pay BETWEEN 30001 AND 40000
            OR #{priceRange} LIKE '%40kTo50k%' AND P.product_pay BETWEEN 40001 AND 50000
            OR #{priceRange} LIKE '%50kTo70k%' AND P.product_pay BETWEEN 50001 AND 70000
            OR #{priceRange} LIKE '%80kTo100k%' AND P.product_pay BETWEEN 80001 AND 100000
            OR #{priceRange} LIKE '%above100k%' AND P.product_pay > 100000
        )
    </if>

GROUP BY 
    P.product_seq, P.product_serial, P.product_name, P.product_img, 
    P.product_detail, P.product_pay, P.product_brand, P.product_grade, 
    P.product_date, P.product_height, P.product_weight, P.product_wh, 
    P.product_color, P.product_features, C.category_name, C.category_seq
<choose>
    <when test="sort == 'Low to High'">
        ORDER BY P.product_pay ASC
    </when>
    <when test="sort == 'High to Low'">
        ORDER BY P.product_pay DESC
    </when>
    <when test="sort == 'Release Date'">
        ORDER BY P.product_date DESC
    </when>
    <when test="sort == 'Avg. Rating'">
        ORDER BY review_avg DESC
    </when>
    <otherwise>
        ORDER BY product_popularity DESC  
    </otherwise>
    </choose>
	  LIMIT #{size} OFFSET #{offset}
	</select>

	<select id="selectProductDetail" parameterType="int" resultType="ProductListVO">
		SELECT
		P.*,
		C.category_name,
		C.category_seq
		FROM
		PRODUCT P
		LEFT
		JOIN
		CATEGORY C ON P.category_seq = C.category_seq
		where P.product_seq =
		#{product_seq}
	</select>
	
	<!-- 업그레이드 가능 리스트 조회 -->
	<select id="selectUpgradeProductList" parameterType="map" resultType="ProductListVO">
		SELECT 
		    p.product_seq,
		    p.product_name,
		    p.product_brand,
		    p.category_seq,
		    p.product_grade,
		    p.product_date,
		    p.product_serial,
		    p.product_img,
		    p.product_detail,
		    p.product_pay,
		    p.product_height,
		    p.product_weight,
		    p.product_wh,
		    p.product_color,
		    p.product_features,
		    COUNT(r.review_rate) AS review_count, 
		    avg(r.review_rate) AS review_avg
		FROM product p
		LEFT OUTER JOIN  subscribe s USING(product_seq) 
		LEFT JOIN review r USING(sub_seq)
		WHERE 
		    p.product_brand = #{product_brand} 
		    AND p.category_seq = #{category_seq} 
		    AND p.product_grade = #{product_grade} 
		    AND p.product_date >= #{product_date}
		    AND p.product_seq <![CDATA[ <> ]]> #{product_seq}
		GROUP BY 
		    p.product_seq,
		    p.product_name,
		    p.product_brand,
		    p.category_seq,
		    p.product_grade,
		    p.product_date,
		    p.product_serial,
		    p.product_img,
		    p.product_detail,
		    p.product_pay,
		    p.product_height,
		    p.product_weight,
		    p.product_wh,
		    p.product_color,
		    p.product_features
	</select>
	
	<!-- 검색기능 -->
	<select id="searchProducts" parameterType="map" resultType="ProductListVO">
SELECT 
    P.product_seq,
    P.product_serial,
    P.product_name,
    P.product_img,
    P.product_detail,
    P.product_pay,
    P.product_brand,
    P.product_grade,
    P.product_date,
    P.product_height,
    P.product_weight,
    P.product_wh,
    P.product_color,
    P.product_features,
    C.category_name,
    C.category_seq,
    COUNT(cart.product_seq) AS product_popularity,
    COUNT(r.review_rate) AS review_count,
    AVG(r.review_rate) AS review_avg
FROM
    PRODUCT P
LEFT JOIN
    CATEGORY C ON P.category_seq = C.category_seq
LEFT JOIN
    cart ON P.product_seq = cart.product_seq
LEFT JOIN
    subscribe s on P.product_seq = s.product_seq
LEFT JOIN
    review r on r.sub_seq = s.sub_seq
    
WHERE 1=1    
<if test="query != null and query != ''">
    
    AND    (P.product_serial ILIKE '%' || #{query} || '%')
        OR (P.product_name ILIKE '%' || #{query} || '%')
        OR (P.product_brand ILIKE '%' || #{query} || '%')
        OR (P.product_height ILIKE '%' || #{query} || '%')
        OR (P.product_weight ILIKE '%' || #{query} || '%')
        OR (P.product_wh ILIKE '%' || #{query} || '%')
        OR (P.product_color ILIKE '%' || #{query} || '%')
        OR (P.product_features ILIKE '%' || #{query} || '%')
        OR (C.category_name ILIKE '%' || #{query} || '%')
</if>
GROUP BY 
    P.product_seq, P.product_serial, P.product_name, P.product_img, 
    P.product_detail, P.product_pay, P.product_brand, P.product_grade, 
    P.product_date, P.product_height, P.product_weight, P.product_wh, 
    P.product_color, P.product_features, C.category_name, C.category_seq
ORDER BY P.product_date DESC
LIMIT #{size} OFFSET #{offset}
    </select>
    
    <select id="selectTotalProductCount" parameterType="map" resultType="int">
    SELECT COUNT(*) 
    FROM PRODUCT P
    LEFT JOIN
    CATEGORY C ON P.category_seq = C.category_seq
    WHERE 1=1
        <!-- 카테고리 필터 -->
        <if test="category_seq != 0">
            AND P.category_seq = #{category_seq}
        </if>
        
        <!-- 검색어 필터 -->
        <if test="query != null and query != ''">
    AND    (P.product_serial ILIKE '%' || #{query} || '%')
        OR (P.product_name ILIKE '%' || #{query} || '%')
        OR (P.product_brand ILIKE '%' || #{query} || '%')
        OR (P.product_height ILIKE '%' || #{query} || '%')
        OR (P.product_weight ILIKE '%' || #{query} || '%')
        OR (P.product_wh ILIKE '%' || #{query} || '%')
        OR (P.product_color ILIKE '%' || #{query} || '%')
        OR (P.product_features ILIKE '%' || #{query} || '%')
        OR (C.category_name ILIKE '%' || #{query} || '%')
        </if>
        
        <!-- 브랜드 필터 -->
        <if test="product_brand != null and product_brand != ''">
            AND P.product_brand = #{product_brand}
        </if>
        
        <!-- 가격대 필터 -->
        <if test="priceRange != null and priceRange != ''">
            AND (
                #{priceRange} LIKE '%below10k%' AND P.product_pay &lt; 10000
                OR #{priceRange} LIKE '%10kTo20k%' AND P.product_pay BETWEEN 10001 AND 20000
                OR #{priceRange} LIKE '%20kTo30k%' AND P.product_pay BETWEEN 20001 AND 30000
                OR #{priceRange} LIKE '%30kTo40k%' AND P.product_pay BETWEEN 30001 AND 40000
                OR #{priceRange} LIKE '%40kTo50k%' AND P.product_pay BETWEEN 40001 AND 50000
                OR #{priceRange} LIKE '%50kTo70k%' AND P.product_pay BETWEEN 50001 AND 70000
                OR #{priceRange} LIKE '%80kTo100k%' AND P.product_pay BETWEEN 80001 AND 100000
                OR #{priceRange} LIKE '%above100k%' AND P.product_pay > 100000
            )
        </if>
</select>
</mapper>