<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rental.shinhan.review">

	<!-- 상품 상세보기 - 리뷰조회 -->
	<select id="selectReview" parameterType="int" resultType="ReviewVO">
		SELECT
			p.product_seq,
			p.product_name,
			p.product_brand,
			p.product_img,
			p.product_serial,
			r.review_content,
			r.review_rate,
			r.review_date,
			c.cust_name,
			c.cust_id,
			c.cust_seq,
			ra.review_avg,
			ra.review_count
		FROM product p
		LEFT JOIN subscribe s
			ON p.product_seq = s.product_seq
		LEFT JOIN review r
			ON s.sub_seq = r.sub_seq
		LEFT JOIN customer c
			ON s.cust_seq = c.cust_seq
		LEFT JOIN (
				SELECT
					p.product_seq,
					AVG(r.review_rate) AS review_avg,
					COUNT(r.review_rate) AS review_count
				FROM product p
				LEFT JOIN subscribe s
					ON p.product_seq = s.product_seq
				LEFT JOIN review r
					ON s.sub_seq = r.sub_seq
				WHERE r.sub_seq IS NOT NULL
				GROUP BY p.product_seq
			) ra
				ON p.product_seq = ra.product_seq
		WHERE
			p.product_seq = #{product_seq}
			AND r.sub_seq IS NOT NULL
		ORDER BY
			r.review_rate DESC,
			r.review_date DESC
	</select>

    <insert id="insertReview">
        INSERT INTO review (
			sub_seq, review_content, review_rate, review_date
		) VALUES (
			#{sub_seq}, #{review_content}, #{review_rate}, CURRENT_TIMESTAMP
		)
    </insert>
</mapper>