<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.rental.shinhan.wish">

    <select id="selectWishLists" parameterType="int" resultType="WishListVO">
        SELECT w.wish_seq, w.cust_seq, w.product_seq,
            p.product_serial, p.product_pay, p.category_seq, p.product_name, p.product_img, p.product_features
        FROM wishlist w
        JOIN product p
            ON w.product_seq = p.product_seq
        WHERE w.cust_seq = #{cust_seq}
    </select>

    <select id="wishStatus" parameterType="int" resultType="com.rental.shinhan.dto.WishListDTO">
        SELECT product_seq
        FROM wishlist
        WHERE cust_seq = #{cust_seq}
        GROUP BY product_seq;
    </select>

    <insert id="insertWishList" parameterType="com.rental.shinhan.dto.WishListDTO">
        INSERT INTO wishlist (cust_seq, product_seq)
        SELECT c.cust_seq, p.product_seq
        FROM customer c
        JOIN product p
            ON p.product_seq = #{product_seq}
        WHERE c.cust_seq = #{cust_seq}
        ON CONFLICT (cust_seq, product_seq) DO NOTHING;
    </insert>

    <delete id="deleteWish" parameterType="map">
        DELETE FROM wishlist
        WHERE
            cust_seq = #{cust_seq}
            AND product_seq = #{product_seq};
    </delete>
</mapper>